{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <p>Jesteś zalogowany jako {{ user.username }}</p>
{% else %}
    <p>Nie jesteś zalogowany</p>
{% endif %}
<h1 class="text-center">TODO LIST</h1>
<form action="{% url 'index' %}" method="get" style="text-align: center;">
    <label for="status">Show:</label>
    <select name="status" id="status">
        <option value="">All</option>
        <option value="True" {% if status == 'true' %} selected{% endif %}>Completed</option>
        <option value="False" {% if status == 'false' %} selected{% endif %}>Not Completed</option>
    </select>
    <button type="submit" style="background-color: #4CAF50; border: none; color: white; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Filter</button>
</form>

<table class="table mx-auto w-50">
    <thead>
        <tr>
            <th>Name</th>
			<th>Category</th>
            <th>Completed</th>
            <th>Actions</th>
			<th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
			<td>{{ task.category.name }}</td>
            <td>
                <form method="POST" action="{% url 'complete' task.pk %}">
                    {% csrf_token %}
                    <input class="mx-auto w-70" type="checkbox" name="completed" onchange="this.form.submit()" {% if task.completed %}checked{% endif %} value="on">
                    <label class="mx-auto w-50">Completed</label>
                </form>
            </td>
            <td>
                <a href="{% url 'edit' task.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete' task.pk %}" class="btn btn-danger">Delete</a>
            </td>
			<td>{{ task.created_at|date:"d-m-Y H:i" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<div class="text-center">
    <a href="{% url 'add' %}" class="btn btn-success">Add Task</a>
</div>
{% endblock %}